.m-block {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.table {
  display: grid;
  grid-template-columns: 6% 25% 35% 21% 10% 3%;
}

.table > div {
  background-color: #d4efee;
  color: #005955;
  border-radius: 3px;
  margin: 2px;
  padding: 0.5em 1.25em;
}

.heading-body {
  font-weight: 700;
  font-size: large;
}

.table,
.dynamic > div:nth-last-child(1) {
  background-color: white;
  color: #005955;
}

/* .table > div:nth-child(3n + 2) {
  background-color: #d4efee;
  color: #005955;
  border-radius: 16px;
  margin: 0 0 1.5em;
  padding: 0.5em 1.25em;
}

.table > div:nth-child(3n + 3) {
  background-color: #d4efee;
  color: #005955;
  border-radius: 16px;
  margin: 0 0 1.5em;
  padding: 0.5em 1.25em;
} */
